.example .mw-ui-palm-one-whole,
.example .mw-ui-palm-set-one-whole .mw-ui-item {
  width: 100%; }
.example .mw-ui-palm-one-half, .example .mw-ui-palm-two-quarters,
.example .mw-ui-palm-set-two-quarters .mw-ui-item,
.example .mw-ui-palm-set-one-half .mw-ui-item {
  width: 50%; }
.example .mw-ui-palm-one-third,
.example .mw-ui-palm-set-one-third .mw-ui-item {
  width: 33.333%; }
.example .mw-ui-palm-two-thirds {
  width: 66.666%; }
.example .mw-ui-palm-one-quarter,
.example .mw-ui-palm-set-one-quarter .mw-ui-item {
  width: 25%; }
.example .mw-ui-palm-three-quarters {
  width: 75%; }
