/*
Author  : Boon
URL     : http://builtbyboon.com
Twitter : http://twitter.com/mattberridge
---------------------------------------*/
.bp1-col-one-whole,
.bp1-col-set-one-whole .mw-ui-item {
  width: 100%; }

.bp1-col-one-half, .bp1-col-two-quarters,
.bp1-col-set-two-quarters .mw-ui-item,
.bp1-col-set-one-half .mw-ui-item {
  width: 50%; }

.bp1-col-one-third,
.bp1-col-set-one-third .mw-ui-item {
  width: 33.333%; }

.bp1-col-two-thirds {
  width: 66.666%; }

.bp1-col-one-quarter,
.bp1-col-set-one-quarter .mw-ui-item {
  width: 25%; }

.bp1-col-three-quarters {
  width: 75%; }

.bp2-col-one-whole,
.bp2-col-set-one-whole .mw-ui-item {
  width: 100%; }

.bp2-col-one-half, .bp2-col-two-quarters,
.bp2-col-set-two-quarters .mw-ui-item,
.bp2-col-set-one-half .mw-ui-item {
  width: 50%; }

.bp2-col-one-third,
.bp2-col-set-one-third .mw-ui-item {
  width: 33.333%; }

.bp2-col-two-thirds {
  width: 66.666%; }

.bp2-col-one-quarter,
.bp2-col-set-one-quarter .mw-ui-item {
  width: 25%; }

.bp2-col-three-quarters {
  width: 75%; }

.bp3-col-one-whole,
.bp3-col-set-one-whole .mw-ui-item {
  width: 100%; }

.bp3-col-one-half, .bp3-col-two-quarters,
.bp3-col-set-two-quarters .mw-ui-item,
.bp3-col-set-one-half .mw-ui-item {
  width: 50%; }

.bp3-col-one-third,
.bp3-col-set-one-third .mw-ui-item {
  width: 33.333%; }

.bp3-col-two-thirds {
  width: 66.666%; }

.bp3-col-one-quarter,
.bp3-col-set-one-quarter .mw-ui-item {
  width: 25%; }

.bp3-col-three-quarters {
  width: 75%; }

.lt-ie9 .container {
  width: 960px; }

/* -- IE7 or less
------------------------------------------------------------- */
.lt-ie8 .mw-ui-grid {
  margin-left: 0; }
.lt-ie8 .mw-ui-item {
  padding: 0;
  margin-left: 5%; }
  .lt-ie8 .mw-ui-item:first-child {
    margin-left: 0; }

.lt-ie8 .col-full,
.lt-ie8 .col-set-full .mw-ui-item {
  width: 99.95%; }
.lt-ie8 .col-one-half,
.lt-ie8 .col-set-one-half .mw-ui-item {
  width: 47.45%; }
.lt-ie8 .col-one-third,
.lt-ie8 .col-set-one-third .mw-ui-item {
  width: 29.55%; }
.lt-ie8 .col-two-thirds {
  width: 64.95%; }
.lt-ie8 .col-one-quarter,
.lt-ie8 .col-set-one-quarter .mw-ui-item {
  width: 19.95%; }
.lt-ie8 .col-three-quarters {
  width: 74.95%; }

.lt-ie8 .bp1-col-full,
.lt-ie8 .bp1-col-set-full .mw-ui-item {
  width: 99.95%; }
.lt-ie8 .bp1-col-one-half, .lt-ie8 .bp1-col-two-quarters,
.lt-ie8 .bp1-col-set-two-quarters .mw-ui-item,
.bp1-col-set-two-quarters .lt-ie8 .mw-ui-item,
.lt-ie8 .bp1-col-set-one-half .mw-ui-item {
  width: 47.45%; }
.lt-ie8 .bp1-col-one-third,
.lt-ie8 .bp1-col-set-one-third .mw-ui-item {
  width: 29.55%; }
.lt-ie8 .bp1-col-two-thirds {
  width: 64.95%; }
.lt-ie8 .bp1-col-one-quarter,
.lt-ie8 .bp1-col-set-one-quarter .mw-ui-item {
  width: 19.95%; }
.lt-ie8 .bp1-col-three-quarters {
  width: 74.95%; }

.lt-ie8 .bp2-col-full,
.lt-ie8 .bp2-col-set-full .mw-ui-item {
  width: 99.95%; }
.lt-ie8 .bp2-col-one-half, .lt-ie8 .bp2-col-two-quarters,
.lt-ie8 .bp2-col-set-two-quarters .mw-ui-item,
.bp2-col-set-two-quarters .lt-ie8 .mw-ui-item,
.lt-ie8 .bp2-col-set-one-half .mw-ui-item {
  width: 47.45%; }
.lt-ie8 .bp2-col-one-third,
.lt-ie8 .bp2-col-set-one-third .mw-ui-item {
  width: 29.55%; }
.lt-ie8 .bp2-col-two-thirds {
  width: 64.95%; }
.lt-ie8 .bp2-col-one-quarter,
.lt-ie8 .bp2-col-set-one-quarter .mw-ui-item {
  width: 19.95%; }
.lt-ie8 .bp2-col-three-quarters {
  width: 74.95%; }

.lt-ie8 .bp3-col-full,
.lt-ie8 .bp3-col-set-full .mw-ui-item {
  width: 99.95%; }
.lt-ie8 .bp3-col-one-half, .lt-ie8 .bp3-col-two-quarters,
.lt-ie8 .bp3-col-set-two-quarters .mw-ui-item,
.bp3-col-set-two-quarters .lt-ie8 .mw-ui-item,
.lt-ie8 .bp3-col-set-one-half .mw-ui-item {
  width: 47.45%; }
.lt-ie8 .bp3-col-one-third,
.lt-ie8 .bp3-col-set-one-third .mw-ui-item {
  width: 29.55%; }
.lt-ie8 .bp3-col-two-thirds {
  width: 64.95%; }
.lt-ie8 .bp3-col-one-quarter,
.lt-ie8 .bp3-col-set-one-quarter .mw-ui-item {
  width: 19.95%; }
.lt-ie8 .bp3-col-three-quarters {
  width: 74.95%; }
