@import "src/grid";

body {
	font-family: 'Open Sans', sans-serif;
	width: 90%;
	background: #f8f8f8;
	color: #222222;
	margin: 2em auto;
}

.container {
	.mw-ui-grid;
}

h1 {
	font-size: 82px;
	font-weight: 100;
	text-align: center;

	@media @lap {
		font-weight: normal;
	}

	@media @palm {
		font-weight: bold;
	}

}

.lead {
	text-align: center;
	color: #555;
}

section {
	.mw-ui-one-third;
	@media @lap {
		.mw-ui-one-half;
		font-size: 1.4em;
		&:last-of-type {
			.mw-ui-one-whole;
		}
	}

	@media @palm {
		.mw-ui-one-whole;
		font-size: 2.2em;
		.mw-ui-gutter(0);
	}
}

.example {
	.mw-ui-grid;
	.mw-ui-one-whole;
	background: #fcfcfc;
	border: 1px solid #ddd;
	margin: 4em 0;
	box-shadow: 0 2px 0px #ccc;
	border-radius: 3px;
	padding: 10px;
	p {
		.mw-ui-two-thirds;
		@media @portable {
			.mw-ui-one-whole;
		}
	}
	code {
		.mw-ui-one-third;
		@media @portable {
			.mw-ui-one-whole;
		}
	}
}

.more {
	.mw-ui-item;
}


h2 {
	margin-top: 30px;
	border-bottom: 1px solid #eee;
}

a {
	color: #3366bb;
	text-decoration: none;
}

code {
	white-space:pre;
	background: #ddd;
	border-radius: 3px;
	padding: 0 4px;
	&.block {
		background: none;
		font-size: 1.2em;
	}
}
