.grid-config-oldie .lt-ie8 .mw-ui-grid {
  margin-left: 0;
}
.grid-config-oldie .lt-ie8 .mw-ui-item {
  padding: 0;
  margin-left: 5%;
}
.grid-config-oldie .lt-ie8 .mw-ui-item:first-child {
  margin-left: 0;
}
/*
@mixin grid-setup-oldie($namespace) {

  .lt-ie8 {
    .#{$namespace}-full,
    .#{$namespace}-set-full .#{$grid-col-class} {
      width: 99.95%; }
    .#{$namespace}-one-half,
    .#{$namespace}-set-one-half .#{$grid-col-class} {
      width: 47.45%; }
    .#{$namespace}-one-third,
    .#{$namespace}-set-one-third .#{$grid-col-class} {
      width: 29.55%; }
    .#{$namespace}-two-thirds {
      width: 64.95%; }
    .#{$namespace}-one-quarter,
    .#{$namespace}-set-one-quarter .#{$grid-col-class} {
      width: 19.95%; }
    .#{$namespace}-three-quarters {
      width: 74.95%; }
  }
  
}*/
