/*
Author  : Boon
URL     : http://builtbyboon.com
Twitter	: http://twitter.com/mattberridge
---------------------------------------*/
body {
  margin: 0;
  font: 1em/1.5 sans-serif; }

.strip {
  background: #891434;
  color: #fff;
  padding: 1em 5%; }
  .strip p {
    text-align: left;
    font-size: 1.2em; }

.container {
  width: 90%;
  margin: 2em auto; }

p {
  text-align: justify;
  margin: 0 0 1.5em 0; }

a {
  color: #fff; }

h2 {
  margin-top: 0; }

img {
  display: block;
  max-width: 100%; }

/* -- Begin grids
------------------------------------------------------------- */
/* -- Use this wrapper if you want to divide your columns -- */
.divide-bottom {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em; }

/* -- Use this wrapper if you want to block-out a column with padding 
Taken from http://csswizardry.com/2011/10/the-island-object/) -- */
.island {
  padding: 1.5em;
  background-color: #ececec; }
  .island :last-child {
    margin-bottom: 0; }

/* -- Setup grids with base class -- */
.mw-ui-grid {
  margin-left: -3em;
  overflow: hidden;
  clear: both; }

.mw-ui-item {
  float: left;
  padding-left: 3em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.large-gutter {
  margin-left: -6em; }
  .large-gutter .mw-ui-item {
    padding-left: 6em; }

.half-gutter {
  margin-left: -1.5em; }
  .half-gutter .mw-ui-item {
    padding-left: 1.5em; }

.no-gutter {
  margin-left: 0; }
  .no-gutter .mw-ui-item {
    padding-left: 0; }

.reset-gutter {
  margin-left: -3em; }
  .reset-gutter .mw-ui-item {
    padding-left: 3em; }

ul.mw-ui-grid,
ol.mw-ui-grid {
  padding-left: 0;
  list-style: none; }

li.mw-ui-item {
  margin-left: 0;
  margin-bottom: 0; }

.mw-ui-one-whole,
.mw-ui-set-one-whole .mw-ui-item {
  width: 100%; }

.mw-ui-one-half, .mw-ui-two-quarters,
.mw-ui-set-two-quarters .mw-ui-item,
.mw-ui-set-one-half .mw-ui-item {
  width: 50%; }

.mw-ui-one-third,
.mw-ui-set-one-third .mw-ui-item {
  width: 33.333%; }

.mw-ui-two-thirds {
  width: 66.666%; }

.mw-ui-one-quarter,
.mw-ui-set-one-quarter .mw-ui-item {
  width: 25%; }

.mw-ui-three-quarters {
  width: 75%; }

/* -- Breakpoint (.bp1)
------------------------------------------------------------- */
@media only screen and (min-width: 30em) {
  .mw-ui-palm-one-whole,
  .mw-ui-palm-set-one-whole .mw-ui-item {
    width: 100%; }

  .mw-ui-palm-one-half, .mw-ui-palm-two-quarters,
  .mw-ui-palm-set-two-quarters .mw-ui-item,
  .mw-ui-palm-set-one-half .mw-ui-item {
    width: 50%; }

  .mw-ui-palm-one-third,
  .mw-ui-palm-set-one-third .mw-ui-item {
    width: 33.333%; }

  .mw-ui-palm-two-thirds {
    width: 66.666%; }

  .mw-ui-palm-one-quarter,
  .mw-ui-palm-set-one-quarter .mw-ui-item {
    width: 25%; }

  .mw-ui-palm-three-quarters {
    width: 75%; } }
/* -- Breakpoint 2 (.bp2)
------------------------------------------------------------- */
@media only screen and (min-width: 48em) {
  .mw-ui-lap-one-whole,
  .mw-ui-lap-set-one-whole .mw-ui-item {
    width: 100%; }

  .mw-ui-lap-one-half, .mw-ui-lap-two-quarters,
  .mw-ui-lap-set-two-quarters .mw-ui-item,
  .mw-ui-lap-set-one-half .mw-ui-item {
    width: 50%; }

  .mw-ui-lap-one-third,
  .mw-ui-lap-set-one-third .mw-ui-item {
    width: 33.333%; }

  .mw-ui-lap-two-thirds {
    width: 66.666%; }

  .mw-ui-lap-one-quarter,
  .mw-ui-lap-set-one-quarter .mw-ui-item {
    width: 25%; }

  .mw-ui-lap-three-quarters {
    width: 75%; } }
/* -- Breakpoint 3 (.bp3)
------------------------------------------------------------- */
@media only screen and (min-width: 60em) {
  .mw-ui-desk-one-whole,
  .mw-ui-desk-set-one-whole .mw-ui-item {
    width: 100%; }

  .mw-ui-desk-one-half, .mw-ui-desk-two-quarters,
  .mw-ui-desk-set-two-quarters .mw-ui-item,
  .mw-ui-desk-set-one-half .mw-ui-item {
    width: 50%; }

  .mw-ui-desk-one-third,
  .mw-ui-desk-set-one-third .mw-ui-item {
    width: 33.333%; }

  .mw-ui-desk-two-thirds {
    width: 66.666%; }

  .mw-ui-desk-one-quarter,
  .mw-ui-desk-set-one-quarter .mw-ui-item {
    width: 25%; }

  .mw-ui-desk-three-quarters {
    width: 75%; } }
