//out:../agora-grid.css

//GRID VARIABLES

// this is the fixed gutter between columns
@grid-gutter: 20px;


//Breakpoints:
@palm: ~"only screen and (max-width: 480px)";
@lap: ~"only screen and (min-width: 481px) and (max-width: 1023px)";
@portable: ~"only screen and (max-width: 1023px)";
@desk: ~"only screen and (min-width: 1024px)";

//GRID

.mw-ui-grid {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    clear: both;
    }

.mw-ui-item {
    float: left;
    padding-left: (@grid-gutter / 2);
    padding-right: (@grid-gutter / 2);
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

.mw-ui-one-whole,
.mw-ui-set-one-whole .mw-ui-item {
  width: 100%;
}
.mw-ui-one-half,
.mw-ui-set-one-half .mw-ui-item {
  width: 50%;
}
.mw-ui-one-third,
.mw-ui-set-one-third .mw-ui-item {
  width: 33.333%;
}
.mw-ui-two-thirds,
.mw-ui-set-two-thirds .mw-ui-item {
  width: 66.666%;
}
.mw-ui-one-quarter,
.mw-ui-set-one-quarter .mw-ui-item {
  width: 25%;
}
.mw-ui-two-quarters,
.mw-ui-set-two-quarters .mw-ui-item {
  width: 50%;
}
.mw-ui-three-quarters,
.mw-ui-set-three-quarters .mw-ui-item {
  width: 75%;
}
.mw-ui-one-fifth,
.mw-ui-set-one-fifth .mw-ui-item {
  width: 20%;
}
.mw-ui-two-fifths,
.mw-ui-set-two-fifths .mw-ui-item {
  width: 40%;
}
.mw-ui-three-fifths,
.mw-ui-set-three-fifths .mw-ui-item {
  width: 60%;
}
.mw-ui-four-fifths,
.mw-ui-set-four-fifths .mw-ui-item {
  width: 80%;
}
.mw-ui-one-sixth,
.mw-ui-set-one-sixth .mw-ui-item {
  width: 16.666%;
}
.mw-ui-two-sixths,
.mw-ui-set-two-sixths .mw-ui-item {
  width: 33.333%;
}
.mw-ui-three-sixths,
.mw-ui-set-three-sixths .mw-ui-item {
  width: 50%;
}
.mw-ui-four-sixths,
.mw-ui-set-four-sixths .mw-ui-item {
  width: 66.666%;
}
.mw-ui-five-sixths,
.mw-ui-set-five-sixths .mw-ui-item {
  width: 83.333%;
}
.mw-ui-one-eighth,
.mw-ui-set-one-eighth .mw-ui-item {
  width: 12.5%;
}
.mw-ui-two-eighths,
.mw-ui-set-two-eighths .mw-ui-item {
  width: 25%;
}
.mw-ui-three-eighths,
.mw-ui-set-three-eighths .mw-ui-item {
  width: 37.5%;
}
.mw-ui-four-eighths,
.mw-ui-set-four-eighths .mw-ui-item {
  width: 50%;
}
.mw-ui-five-eighths,
.mw-ui-set-five-eighths .mw-ui-item {
  width: 62.5%;
}
.mw-ui-six-eighths,
.mw-ui-set-six-eighths .mw-ui-item {
  width: 75%;
}
.mw-ui-seven-eighths,
.mw-ui-set-seven-eighths .mw-ui-item {
  width: 87.5%;
}
.mw-ui-one-tenth,
.mw-ui-set-one-tenth .mw-ui-item {
  width: 10%;
}
.mw-ui-two-tenths,
.mw-ui-set-two-tenths .mw-ui-item {
  width: 20%;
}
.mw-ui-three-tenths,
.mw-ui-set-three-tenths .mw-ui-item {
  width: 30%;
}
.mw-ui-four-tenths,
.mw-ui-set-four-tenths .mw-ui-item {
  width: 40%;
}
.mw-ui-five-tenths,
.mw-ui-set-five-tenths .mw-ui-item {
  width: 50%;
}
.mw-ui-six-tenths,
.mw-ui-set-six-tenths .mw-ui-item {
  width: 60%;
}
.mw-ui-seven-tenths,
.mw-ui-set-seven-tenths .mw-ui-item {
  width: 70%;
}
.mw-ui-eight-tenths,
.mw-ui-set-eight-tenths .mw-ui-item {
  width: 80%;
}
.mw-ui-nine-tenths,
.mw-ui-set-nine-tenths .mw-ui-item {
  width: 90%;
}
.mw-ui-one-twelfth,
.mw-ui-set-one-twelfth .mw-ui-item {
  width: 8.333%;
}
.mw-ui-two-twelfths,
.mw-ui-set-two-twelfths .mw-ui-item {
  width: 16.666%;
}
.mw-ui-three-twelfths,
.mw-ui-set-three-twelfths .mw-ui-item {
  width: 25%;
}
.mw-ui-four-twelfths,
.mw-ui-set-four-twelfths .mw-ui-item {
  width: 33.333%;
}
.mw-ui-five-twelfths,
.mw-ui-set-five-twelfths .mw-ui-item {
  width: 41.666%;
}
.mw-ui-six-twelfths,
.mw-ui-set-six-twelfths .mw-ui-item {
  width: 50%;
}
.mw-ui-seven-twelfths,
.mw-ui-set-seven-twelfths .mw-ui-item {
  width: 58.333%;
}
.mw-ui-eight-twelfths,
.mw-ui-set-eight-twelfths .mw-ui-item {
  width: 66.666%;
}
.mw-ui-nine-twelfths,
.mw-ui-set-nine-twelfths .mw-ui-item {
  width: 75%;
}
.mw-ui-ten-twelfths,
.mw-ui-set-ten-twelfths .mw-ui-item {
  width: 83.333%;
}
.mw-ui-eleven-twelfths,
.mw-ui-set-eleven-twelfths .mw-ui-item {
  width: 91.666%;
}

//Responsive:

//Palm
.mw-ui-palm-one-whole,
.mw-ui-palm-set-one-whole .mw-ui-item {
	@media @palm{
		.mw-ui-one-whole;
	}
}

 .mw-ui-palm-one-half,
 .mw-ui-palm-set-one-half .mw-ui-item {
    @media @palm{
		.mw-ui-one-half;
	}
  }

.mw-ui-palm-one-third,
  .mw-ui-palm-set-one-third .mw-ui-item {
    @media @palm{
		.mw-ui-one-third;
	}
  }
  .mw-ui-palm-two-thirds,
  .mw-ui-palm-set-two-thirds .mw-ui-item {
    @media @palm{
		.mw-ui-two-thirds;
	}
  }
  .mw-ui-palm-one-quarter,
  .mw-ui-palm-set-one-quarter .mw-ui-item {
    @media @palm{
		.mw-ui-one-quarter;
	}
  }
  .mw-ui-palm-two-quarters,
  .mw-ui-palm-set-two-quarters .mw-ui-item {
    @media @palm{
		.mw-ui-two-quarters;
	}
  }
  .mw-ui-palm-three-quarters,
  .mw-ui-palm-set-three-quarters .mw-ui-item {
    @media @palm{
		.mw-ui-three-quarters;
	}
  }
  .mw-ui-palm-one-fifth,
  .mw-ui-palm-set-one-fifth .mw-ui-item {
    @media @palm{
		.mw-ui-one-fifth;
	}
  }
  .mw-ui-palm-two-fifths,
  .mw-ui-palm-set-two-fifths .mw-ui-item {
    @media @palm{
		.mw-ui-two-fifths;
	}
  }
  .mw-ui-palm-three-fifths,
  .mw-ui-palm-set-three-fifths .mw-ui-item {
    @media @palm{
		.mw-ui-three-fifths;
	}
  }
  .mw-ui-palm-four-fifths,
  .mw-ui-palm-set-four-fifths .mw-ui-item {
    @media @palm{
		.mw-ui-four-fifths;
	}
  }
  .mw-ui-palm-one-sixth,
  .mw-ui-palm-set-one-sixth .mw-ui-item {
    @media @palm{
		.mw-ui-one-sixth;
	}
  }
  .mw-ui-palm-two-sixths,
  .mw-ui-palm-set-two-sixths .mw-ui-item {
    @media @palm{
		.mw-ui-two-sixths;
	}
  }
  .mw-ui-palm-three-sixths,
  .mw-ui-palm-set-three-sixths .mw-ui-item {
    @media @palm{
		.mw-ui-three-sixths;
	}
  }
  .mw-ui-palm-four-sixths,
  .mw-ui-palm-set-four-sixths .mw-ui-item {
    @media @palm{
		.mw-ui-four-sixths;
	}
  }
  .mw-ui-palm-five-sixths,
  .mw-ui-palm-set-five-sixths .mw-ui-item {
    @media @palm{
		.mw-ui-five-sixths;
	}
  }
  .mw-ui-palm-one-eighth,
  .mw-ui-palm-set-one-eighth .mw-ui-item {
    @media @palm{
		.mw-ui-one-eighth;
	}
  }
  .mw-ui-palm-two-eighths,
  .mw-ui-palm-set-two-eighths .mw-ui-item {
    @media @palm{
		.mw-ui-two-eighths;
	}
  }
  .mw-ui-palm-three-eighths,
  .mw-ui-palm-set-three-eighths .mw-ui-item {
    @media @palm{
		.mw-ui-three-eighths;
	}
  }
  .mw-ui-palm-four-eighths,
  .mw-ui-palm-set-four-eighths .mw-ui-item {
    @media @palm{
		.mw-ui-four-eighths;
	}
  }
  .mw-ui-palm-five-eighths,
  .mw-ui-palm-set-five-eighths .mw-ui-item {
    @media @palm{
		.mw-ui-five-eighths;
	}
  }
  .mw-ui-palm-six-eighths,
  .mw-ui-palm-set-six-eighths .mw-ui-item {
    @media @palm{
		.mw-ui-six-eighths;
	}
  }
  .mw-ui-palm-seven-eighths,
  .mw-ui-palm-set-seven-eighths .mw-ui-item {
    @media @palm{
		.mw-ui-seven-eighths;
	}
  }
  .mw-ui-palm-one-tenth,
  .mw-ui-palm-set-one-tenth .mw-ui-item {
    @media @palm{
		.mw-ui-one-tenth;
	}
  }
  .mw-ui-palm-two-tenths,
  .mw-ui-palm-set-two-tenths .mw-ui-item {
    @media @palm{
		.mw-ui-two-tenths;
	}
  }
  .mw-ui-palm-three-tenths,
  .mw-ui-palm-set-three-tenths .mw-ui-item {
    @media @palm{
		.mw-ui-three-tenths;
	}
  }
  .mw-ui-palm-four-tenths,
  .mw-ui-palm-set-four-tenths .mw-ui-item {
    @media @palm{
		.mw-ui-four-tenths;
	}
  }
  .mw-ui-palm-five-tenths,
  .mw-ui-palm-set-five-tenths .mw-ui-item {
    @media @palm{
		.mw-ui-five-tenths;
	}
  }
  .mw-ui-palm-six-tenths,
  .mw-ui-palm-set-six-tenths .mw-ui-item {
    @media @palm{
		.mw-ui-six-tenths;
	}
  }
  .mw-ui-palm-seven-tenths,
  .mw-ui-palm-set-seven-tenths .mw-ui-item {
    @media @palm{
		.mw-ui-seven-tenths;
	}
  }
  .mw-ui-palm-eight-tenths,
  .mw-ui-palm-set-eight-tenths .mw-ui-item {
    @media @palm{
		.mw-ui-eight-tenths;
	}
  }
  .mw-ui-palm-nine-tenths,
  .mw-ui-palm-set-nine-tenths .mw-ui-item {
    @media @palm{
		.mw-ui-nine-tenths;
	}
  }
  .mw-ui-palm-one-twelfth,
  .mw-ui-palm-set-one-twelfth .mw-ui-item {
    @media @palm{
		.mw-ui-one-twelfth;
	}
  }
  .mw-ui-palm-two-twelfths,
  .mw-ui-palm-set-two-twelfths .mw-ui-item {
    @media @palm{
		.mw-ui-two-twelfths;
	}
  }
  .mw-ui-palm-three-twelfths,
  .mw-ui-palm-set-three-twelfths .mw-ui-item {
    @media @palm{
		.mw-ui-three-twelfths;
	}
  }
  .mw-ui-palm-four-twelfths,
  .mw-ui-palm-set-four-twelfths .mw-ui-item {
    @media @palm{
		.mw-ui-four-twelfths;
	}
  }
  .mw-ui-palm-five-twelfths,
  .mw-ui-palm-set-five-twelfths .mw-ui-item {
    @media @palm{
		.mw-ui-five-twelfths;
	}
  }
  .mw-ui-palm-six-twelfths,
  .mw-ui-palm-set-six-twelfths .mw-ui-item {
    @media @palm{
		.mw-ui-six-twelfths;
	}
  }
  .mw-ui-palm-seven-twelfths,
  .mw-ui-palm-set-seven-twelfths .mw-ui-item {
    @media @palm{
		.mw-ui-seven-twelfths;
	}
  }
  .mw-ui-palm-eight-twelfths,
  .mw-ui-palm-set-eight-twelfths .mw-ui-item {
    @media @palm{
		.mw-ui-eight-twelfths;
	}
  }
  .mw-ui-palm-nine-twelfths,
  .mw-ui-palm-set-nine-twelfths .mw-ui-item {
    @media @palm{
		.mw-ui-nine-twelfths;
	}
  }
  .mw-ui-palm-ten-twelfths,
  .mw-ui-palm-set-ten-twelfths .mw-ui-item {
    @media @palm{
		.mw-ui-ten-twelfths;
	}
  }
  .mw-ui-palm-eleven-twelfths,
  .mw-ui-palm-set-eleven-twelfths .mw-ui-item {
    @media @palm{
		.mw-ui-eleven-twelfths;
	}
  }
  .mw-ui-palm-hidden {
    display: none !important;
  }
  .mw-ui-palm-visible {
    display: block ;
  }
