// main: grid.less
//GRID PUSH

.mw-ui-push-one-half,
.mw-ui-push-set-one-half .mw-ui-push-item {
  margin-left: 50%;
}
.mw-ui-push-one-third,
.mw-ui-push-set-one-third .mw-ui-push-item {
  margin-left: 33.333%;
}
.mw-ui-push-two-thirds,
.mw-ui-push-set-two-thirds .mw-ui-push-item {
  margin-left: 66.666%;
}
.mw-ui-push-one-quarter,
.mw-ui-push-set-one-quarter .mw-ui-push-item {
  margin-left: 25%;
}
.mw-ui-push-two-quarters,
.mw-ui-push-set-two-quarters .mw-ui-push-item {
  margin-left: 50%;
}
.mw-ui-push-three-quarters,
.mw-ui-push-set-three-quarters .mw-ui-push-item {
  margin-left: 75%;
}
.mw-ui-push-one-fifth,
.mw-ui-push-set-one-fifth .mw-ui-push-item {
  margin-left: 20%;
}
.mw-ui-push-two-fifths,
.mw-ui-push-set-two-fifths .mw-ui-push-item {
  margin-left: 40%;
}
.mw-ui-push-three-fifths,
.mw-ui-push-set-three-fifths .mw-ui-push-item {
  margin-left: 60%;
}
.mw-ui-push-four-fifths,
.mw-ui-push-set-four-fifths .mw-ui-push-item {
  margin-left: 80%;
}
.mw-ui-push-one-sixth,
.mw-ui-push-set-one-sixth .mw-ui-push-item {
  margin-left: 16.666%;
}
.mw-ui-push-two-sixths,
.mw-ui-push-set-two-sixths .mw-ui-push-item {
  margin-left: 33.333%;
}
.mw-ui-push-three-sixths,
.mw-ui-push-set-three-sixths .mw-ui-push-item {
  margin-left: 50%;
}
.mw-ui-push-four-sixths,
.mw-ui-push-set-four-sixths .mw-ui-push-item {
  margin-left: 66.666%;
}
.mw-ui-push-five-sixths,
.mw-ui-push-set-five-sixths .mw-ui-push-item {
  margin-left: 83.333%;
}
.mw-ui-push-one-eighth,
.mw-ui-push-set-one-eighth .mw-ui-push-item {
  margin-left: 12.5%;
}
.mw-ui-push-two-eighths,
.mw-ui-push-set-two-eighths .mw-ui-push-item {
  margin-left: 25%;
}
.mw-ui-push-three-eighths,
.mw-ui-push-set-three-eighths .mw-ui-push-item {
  margin-left: 37.5%;
}
.mw-ui-push-four-eighths,
.mw-ui-push-set-four-eighths .mw-ui-push-item {
  margin-left: 50%;
}
.mw-ui-push-five-eighths,
.mw-ui-push-set-five-eighths .mw-ui-push-item {
  margin-left: 62.5%;
}
.mw-ui-push-six-eighths,
.mw-ui-push-set-six-eighths .mw-ui-push-item {
  margin-left: 75%;
}
.mw-ui-push-seven-eighths,
.mw-ui-push-set-seven-eighths .mw-ui-push-item {
  margin-left: 87.5%;
}
.mw-ui-push-one-tenth,
.mw-ui-push-set-one-tenth .mw-ui-push-item {
  margin-left: 10%;
}
.mw-ui-push-two-tenths,
.mw-ui-push-set-two-tenths .mw-ui-push-item {
  margin-left: 20%;
}
.mw-ui-push-three-tenths,
.mw-ui-push-set-three-tenths .mw-ui-push-item {
  margin-left: 30%;
}
.mw-ui-push-four-tenths,
.mw-ui-push-set-four-tenths .mw-ui-push-item {
  margin-left: 40%;
}
.mw-ui-push-five-tenths,
.mw-ui-push-set-five-tenths .mw-ui-push-item {
  margin-left: 50%;
}
.mw-ui-push-six-tenths,
.mw-ui-push-set-six-tenths .mw-ui-push-item {
  margin-left: 60%;
}
.mw-ui-push-seven-tenths,
.mw-ui-push-set-seven-tenths .mw-ui-push-item {
  margin-left: 70%;
}
.mw-ui-push-eight-tenths,
.mw-ui-push-set-eight-tenths .mw-ui-push-item {
  margin-left: 80%;
}
.mw-ui-push-nine-tenths,
.mw-ui-push-set-nine-tenths .mw-ui-push-item {
  margin-left: 90%;
}
.mw-ui-push-one-twelfth,
.mw-ui-push-set-one-twelfth .mw-ui-push-item {
  margin-left: 8.333%;
}
.mw-ui-push-two-twelfths,
.mw-ui-push-set-two-twelfths .mw-ui-push-item {
  margin-left: 16.666%;
}
.mw-ui-push-three-twelfths,
.mw-ui-push-set-three-twelfths .mw-ui-push-item {
  margin-left: 25%;
}
.mw-ui-push-four-twelfths,
.mw-ui-push-set-four-twelfths .mw-ui-push-item {
  margin-left: 33.333%;
}
.mw-ui-push-five-twelfths,
.mw-ui-push-set-five-twelfths .mw-ui-push-item {
  margin-left: 41.666%;
}
.mw-ui-push-six-twelfths,
.mw-ui-push-set-six-twelfths .mw-ui-push-item {
  margin-left: 50%;
}
.mw-ui-push-seven-twelfths,
.mw-ui-push-set-seven-twelfths .mw-ui-push-item {
  margin-left: 58.333%;
}
.mw-ui-push-eight-twelfths,
.mw-ui-push-set-eight-twelfths .mw-ui-push-item {
  margin-left: 66.666%;
}
.mw-ui-push-nine-twelfths,
.mw-ui-push-set-nine-twelfths .mw-ui-push-item {
  margin-left: 75%;
}
.mw-ui-push-ten-twelfths,
.mw-ui-push-set-ten-twelfths .mw-ui-push-item {
  margin-left: 83.333%;
}
.mw-ui-push-eleven-twelfths,
.mw-ui-push-set-eleven-twelfths .mw-ui-push-item {
  margin-left: 91.666%;
}
