// main: grid.less
//GRID PUSH

.mw-ui-push-one-half,
.mw-ui-set-push-one-half .mw-ui-item {
  margin-left: 50%;
}
.mw-ui-push-one-third,
.mw-ui-set-push-one-third .mw-ui-item {
  margin-left: 33.333%;
}
.mw-ui-push-two-thirds,
.mw-ui-set-push-two-thirds .mw-ui-item {
  margin-left: 66.666%;
}
.mw-ui-push-one-quarter,
.mw-ui-set-push-one-quarter .mw-ui-item {
  margin-left: 25%;
}
.mw-ui-push-two-quarters,
.mw-ui-set-push-two-quarters .mw-ui-item {
  margin-left: 50%;
}
.mw-ui-push-three-quarters,
.mw-ui-set-push-three-quarters .mw-ui-item {
  margin-left: 75%;
}
.mw-ui-push-one-fifth,
.mw-ui-set-push-one-fifth .mw-ui-item {
  margin-left: 20%;
}
.mw-ui-push-two-fifths,
.mw-ui-set-push-two-fifths .mw-ui-item {
  margin-left: 40%;
}
.mw-ui-push-three-fifths,
.mw-ui-set-push-three-fifths .mw-ui-item {
  margin-left: 60%;
}
.mw-ui-push-four-fifths,
.mw-ui-set-push-four-fifths .mw-ui-item {
  margin-left: 80%;
}
.mw-ui-push-one-sixth,
.mw-ui-set-push-one-sixth .mw-ui-item {
  margin-left: 16.666%;
}
.mw-ui-push-two-sixths,
.mw-ui-set-push-two-sixths .mw-ui-item {
  margin-left: 33.333%;
}
.mw-ui-push-three-sixths,
.mw-ui-set-push-three-sixths .mw-ui-item {
  margin-left: 50%;
}
.mw-ui-push-four-sixths,
.mw-ui-set-push-four-sixths .mw-ui-item {
  margin-left: 66.666%;
}
.mw-ui-push-five-sixths,
.mw-ui-set-push-five-sixths .mw-ui-item {
  margin-left: 83.333%;
}
.mw-ui-push-one-eighth,
.mw-ui-set-push-one-eighth .mw-ui-item {
  margin-left: 12.5%;
}
.mw-ui-push-two-eighths,
.mw-ui-set-push-two-eighths .mw-ui-item {
  margin-left: 25%;
}
.mw-ui-push-three-eighths,
.mw-ui-set-push-three-eighths .mw-ui-item {
  margin-left: 37.5%;
}
.mw-ui-push-four-eighths,
.mw-ui-set-push-four-eighths .mw-ui-item {
  margin-left: 50%;
}
.mw-ui-push-five-eighths,
.mw-ui-set-push-five-eighths .mw-ui-item {
  margin-left: 62.5%;
}
.mw-ui-push-six-eighths,
.mw-ui-set-push-six-eighths .mw-ui-item {
  margin-left: 75%;
}
.mw-ui-push-seven-eighths,
.mw-ui-set-push-seven-eighths .mw-ui-item {
  margin-left: 87.5%;
}
.mw-ui-push-one-tenth,
.mw-ui-set-push-one-tenth .mw-ui-item {
  margin-left: 10%;
}
.mw-ui-push-two-tenths,
.mw-ui-set-push-two-tenths .mw-ui-item {
  margin-left: 20%;
}
.mw-ui-push-three-tenths,
.mw-ui-set-push-three-tenths .mw-ui-item {
  margin-left: 30%;
}
.mw-ui-push-four-tenths,
.mw-ui-set-push-four-tenths .mw-ui-item {
  margin-left: 40%;
}
.mw-ui-push-five-tenths,
.mw-ui-set-push-five-tenths .mw-ui-item {
  margin-left: 50%;
}
.mw-ui-push-six-tenths,
.mw-ui-set-push-six-tenths .mw-ui-item {
  margin-left: 60%;
}
.mw-ui-push-seven-tenths,
.mw-ui-set-push-seven-tenths .mw-ui-item {
  margin-left: 70%;
}
.mw-ui-push-eight-tenths,
.mw-ui-set-push-eight-tenths .mw-ui-item {
  margin-left: 80%;
}
.mw-ui-push-nine-tenths,
.mw-ui-set-push-nine-tenths .mw-ui-item {
  margin-left: 90%;
}
.mw-ui-push-one-twelfth,
.mw-ui-set-push-one-twelfth .mw-ui-item {
  margin-left: 8.333%;
}
.mw-ui-push-two-twelfths,
.mw-ui-set-push-two-twelfths .mw-ui-item {
  margin-left: 16.666%;
}
.mw-ui-push-three-twelfths,
.mw-ui-set-push-three-twelfths .mw-ui-item {
  margin-left: 25%;
}
.mw-ui-push-four-twelfths,
.mw-ui-set-push-four-twelfths .mw-ui-item {
  margin-left: 33.333%;
}
.mw-ui-push-five-twelfths,
.mw-ui-set-push-five-twelfths .mw-ui-item {
  margin-left: 41.666%;
}
.mw-ui-push-six-twelfths,
.mw-ui-set-push-six-twelfths .mw-ui-item {
  margin-left: 50%;
}
.mw-ui-push-seven-twelfths,
.mw-ui-set-push-seven-twelfths .mw-ui-item {
  margin-left: 58.333%;
}
.mw-ui-push-eight-twelfths,
.mw-ui-set-push-eight-twelfths .mw-ui-item {
  margin-left: 66.666%;
}
.mw-ui-push-nine-twelfths,
.mw-ui-set-push-nine-twelfths .mw-ui-item {
  margin-left: 75%;
}
.mw-ui-push-ten-twelfths,
.mw-ui-set-push-ten-twelfths .mw-ui-item {
  margin-left: 83.333%;
}
.mw-ui-push-eleven-twelfths,
.mw-ui-set-push-eleven-twelfths .mw-ui-item {
  margin-left: 91.666%;
}
