//out:../grid.css

@import "grid-mixins.less";

/* -- Use this wrapper if you want to divide your columns -- */

.divide-bottom {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em; }

/* -- Use this wrapper if you want to block-out a column with padding
Taken from http://csswizardry.com/2011/10/the-island-object/) -- */

.island {
  padding: 1.5em;
  background-color: #ececec;

  :last-child {
    margin-bottom: 0; }

}

.mw-ui-hidden {
        display: none;
    }


/* -- Setup grids with base class -- */

.grids-init(mw-ui);

@media only screen and (max-width: 480px) {
    .grid-setup(palm, mw-ui-);
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
    .grid-setup(lap, mw-ui-);
}

@media only screen and (max-width: 1023px) {
    .grid-setup(portable, mw-ui-);
}

@media only screen and (min-width: 1024px) {
    .grid-setup(desk, mw-ui-);
}
