/*
Author  : Boon
URL     : http://builtbyboon.com
Twitter	: http://twitter.com/mattberridge
---------------------------------------*/
body {
  margin: 0;
  font: 1em/1.5 sans-serif; }

.strip {
  background: #891434;
  color: #fff;
  padding: 1em 5%;
	
  p {
    text-align: left;
    font-size: 1.2em; }
}
	
.container {
  width: 90%;
  margin: 2em auto; }
	
p {
  text-align: justify;
  margin: 0 0 1.5em 0; }

a {
	color: #fff; }
	
h2 {
  margin-top: 0; }

img {
  display: block;
  max-width: 100%; }	

/* -- Begin grids
------------------------------------------------------------- */
@import "proportional-grids.scss";

/* -- Use this wrapper if you want to divide your columns -- */
	
.divide-bottom {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em; }

/* -- Use this wrapper if you want to block-out a column with padding 
Taken from http://csswizardry.com/2011/10/the-island-object/) -- */

.island {
  padding: 1.5em;
  background-color: #ececec;

  :last-child {
    margin-bottom: 0; }
	
}
		
/* -- Setup grids with base class -- */		
@include grids-init("mw-ui");

/* -- Breakpoint (.bp1)
------------------------------------------------------------- */			
@media only screen and (min-width: 30em) {
 
  @include grid-setup("mw-ui-palm");
    
}
   
/* -- Breakpoint 2 (.bp2)
------------------------------------------------------------- */			
@media only screen and (min-width: 48em) {

  @include grid-setup("mw-ui-lap");
    
}

/* -- Breakpoint 3 (.bp3)
------------------------------------------------------------- */			
@media only screen and (min-width: 60em) {

  @include grid-setup("mw-ui-desk");
    
}